

/* Add a red background color to navbar links on hover */
.dropdown:hover .dropbtn {
    background-color: black;
}


/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {background-color: black;}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Hide the dropdown content by default */
.dropdown-content {
    display: none;
}

/* Show the dropdown content on hover */
.hover-nav:hover {
    background-color: darkgray;
}