{% extends 'base.html.twig' %}

{% block title %}Edit ContratComedien{% endblock %}

{% block body %}
    <div class="container mt-5 d-flex flex-column justify-center align-items-center">
        <h1>Voulez-vous vraiment supprimez le contrat ?</h1>

    {#    {{ include('contrat_comedien/_form.html.twig', {'button_label': 'Update'}) }}#}
        <div class="d-flex">

            <a class=" btn btn-primary" href="{{ path('app_contrat_comedien_index') }}">Retour à la liste</a>
            {{ include('contrat_comedien/_delete_form.html.twig') }}s
        </div>
    </div>


{% endblock %}
