{% extends 'base.html.twig' %}

{% block title %}Edit Comedien{% endblock %}

{% block body %}

    <div class="container-sm mt-3">
    {{ include('comedien/_form.html.twig', {'button_label': 'Editer'}) }}


    </div>

{#   {{ include('comedien/_delete_form.html.twig') }}#}
{% endblock %}
